h1{
    color:antiquewhite;
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
	
}

background-color{
    color:skyblue;
}


p{
    font-size: 24px;
    font-family: Arial;
}
